mat-card {
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background: lightcyan
}

mat-card-content, mat-card-header {
  align-self: center;
  justify-content: center;
  padding: 10px;
}

.account-balance-number {
  font-size: xx-large;
}
